@model IEnumerable<InventoryRepo.Models.Supplierorder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierorderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </th>
            <th>
                Items
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierorderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrandTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    <ul>
                        @foreach (var orderItem in item.Items)
                        {
                            <li>
                                Product Name: @orderItem.ProductName, Quantity: @orderItem.Quantity, Price: @orderItem.Price, Total Price: @orderItem.TotalPrice
                            </li>
                        }
                    </ul>
                </td>
                <td>

                    <a asp-action="GenerateInvoice" asp-route-orderId="@item.SupplierorderId">Genrateinnvoice</a> |
                    <a asp-action="Delete" asp-route-id="@item.SupplierorderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
