@model IEnumerable<InventoryRepo.Models.Category>

@{
    ViewData["Title"] = "list";
}

<h1>Category</h1>

<p>
    <a asp-action="Add" asp-controller="Category">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit"  asp-controller="Category" asp-route-id="@item.CategoryId">Edit</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
