@model IEnumerable<InventoryRepo.Models.CustomerOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="card mb-3">
    <div class="card-header" style="background: linear-gradient(45deg, #47cebe, #ef4a82); font-family: 'PT Serif', serif, sans-serif;font-size: 20px;color: white;">
        <i class="fa-solid fa-people-carry-box"></i>
        <b>CustomerOrders</b>
        <a href="../CustomerOrder/Add" class="btn btn-info float-end" style="color: white;font-size: 20px;"><i class="fa fa-plus"></i> Add New</a>
    </div>

    <div class="card-body">
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.GrandTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        foreach (var orderedProduct in order.OrderedProducts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => order.GrandTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => order.Customer.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => orderedProduct.Product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => orderedProduct.Quantity)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Supplier" asp-route-id="@order.CustomerOrderId">
                                        <div class="edit-icon-container">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                    </a>
                                    <a asp-action="Delete" asp-controller="Supplier" asp-route-id="@order.CustomerOrderId">
                                        <div class="delete-icon-container">
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
